*{
    margin: 0px;
    padding: 20px;
    background-color: lightsteelblue;
}

body{
    border: 1px solid darkslateblue;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 30px;
    text-transform: capitalize;
    white-space: pre-wrap;
    word-spacing: 10px;
    letter-spacing: 5mm;
    text-decoration: underline;
}