*{
    margin: 0px;
    padding: 0px;
    color: ghostwhite;
}
.px{
    margin: 30px;
    height: 100px;
    width: 700px;
    background-color: darkcyan;
    text-align: center;
}
.pul{
    margin: 1in;
    height: 3in;
    width: 3in;
    background-color: darkgoldenrod;
    text-align: center;
}
.cm{
    margin: 1cm;
    height: 3cm;
    width: 10cm;
    background-color: darkorchid;
    text-align: center;
}
.elp{
    background-color: black;
    margin: 10px;
    padding: 30px;
    font-size: 2px;
}
.p1{
    font-size: 10em;
}
.p2{
    font-size: 15em;
}
.elp2{
    margin: 30px;
    height: 20vh;
    width: 90vw;
    background-color: darkslateblue;
}
.hi{
    height: 80%;
    width: 20%;
    background-color: lightskyblue;
}